.journal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-label {
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 100px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 10px
}

.img {
    width: 20px;
    height: 20px;
    background: white;
}

.input {
    border: none;
    background: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Source Sans 3', sans-serif;
    border-bottom: 1px solid #323232;
    width: 100%;
    color: white
}

.invalid {
    border: 1px solid red;
    background: rgb(214, 98, 98);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('/public/images2.png');
    width: 25px;
    height: 25px;
    cursor: pointer;
}  

.box {
    width: 30px;
    height: 30px;
    background: white;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
}
